body{
    margin: 0;
    font-family: "Josefin Sans";
    background-color: rgb(255, 255, 255);
}

.josefin-sans-font {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* -----------navbar styling --------- */
#nav-container{
    display: flex;
    justify-content: space-between;
    background-color: black;
    max-width: 100%;
}


/* Styling the nav links */
#nav-link-container{
    display: flex;
    list-style: none;
}

.nav-link{
    color: white;
    list-style-type: none;
    padding: 1rem;
    padding-right: 3rem;
    overflow: hidden;
    font-family: "Josefin Sans";
    font-weight: 200;
    font-size: 1.2rem;
}

/* Styling the icons */
#icon-container{
    display: flex;
    align-items: center;
}

.icon{
    height: 45%;
    padding-left: 3rem;
    stroke: orange;
}

#insta-icon{
    height: 40%;
}

#hamburger{
    display: none;
}



/*  --------------- STYLING FOR HOME -------------- */


/* Hero Section */

#hero-section{
    position: relative;
}

#hero-section .title-text-container{
    position: absolute;
    top: 35%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;
    width: 70%;
}

.title-text-container .title{
    font-weight: 500;
    font-size: 9vw;
    margin-bottom: -1%;
}

.title-text-container .main-description{
    font-weight: lighter;
    font-style: italic;
    font-size: large;
}


.background-video{
    width: 100%;
    max-height: 90vh;
    min-height: 90vh;
    object-fit: cover;
}

.overlay {
  position: absolute; 
  width: 100%; 
  height: 500%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 1; 
}



/* PORTFOLIO SECTION */

#portfolio-section{
    background-color: white;
    position: relative;
    z-index: 1;
}

.triangle {
	width: 0;
	height: 1px;
	border-top: 20vh solid transparent;
	border-right: 100vw solid #ffffff;
    top: -20vh;
    z-index: 1; 
    position: relative;
}



#portfolio-title{
    font-weight: 500;
    font-size: 9vw;
    margin-bottom: -1%;
    color: rgb(0, 0, 0);
    top: 0%;
    position: absolute;
    top: -10vh;
    right: 10vw;
    z-index: 5;
}

#portfolio-cards-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
    min-height: 100%;
    margin-top: -20vh;
}

.portfolio-card{
    position: relative;
    max-width: 100%;
    max-height: 20vh;
    overflow: hidden;
    border-radius: 6vw;
    margin : 2%;

}

.portfolio-card h3{
    margin: 0;
    position: absolute;
    color: white;
    font-size: 5vw;
    top: 50%;
    transform: translate(50%, -50%);
    z-index: 2;
}

.portfolio-card video{
    max-width: 100%;
    object-fit: cover;
}

.portfolio-overlay{
    position: absolute; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.492); 
    z-index: 1; 
    transition:0.3s;
}

.portfolio-overlay:hover {
  background-color: rgba(0,0,0,0);
}



/* landscape devices*/

@media screen and (orientation: landscape) {
    #portfolio-title{
        margin-bottom: 1000%;
    }


    #portfolio-cards-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 5% 10%;
        height: 80vh;
        margin-top: -7vh;
    }

    .portfolio-card{
        position: relative;
        min-width: 33%;
        max-width: 33%;
        min-height: 100%;
        border-radius: 6vh;
        margin : 2%;
    }

    .portfolio-card h3{
        margin: 0;
        position: absolute;
        color: white;
        font-size: 5vh;
        top: 20%;
        transform: translate(50%, -10%);
        z-index: 2;
    }
    
    .portfolio-card video{
        min-height: 100%;
        object-fit: cover;
    }

}





/* on hover remove text and play video */


/* About section */




/*  --------------- STYLING FOR PORTFOLO -------------- */



/*  ------------- STYLING FOR ABOUT -------------------- */



/*  ------------ STYLING FOR CONTACT SECTION ----------- */




/*  ------------ STYLING FOR CONTACT SECTION ----------- */






/*  ------------ STYLING FOR tablet ----------- */

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
    .tablet-hidden {
        display: none !important;
    }   

    #nav-container{
        justify-content: center;
    }

    #hero-section .title-text-container{
        width: 70%;
        left: 50%;
    }

    .icon{
        flex-shrink: 1;
    }

} 

/*  ------------ STYLING FOR Mobile ----------- */

/* Mobile devices 545px and down */
@media only screen and (max-width: 525px) {

    /* nav overriding */
    #nav-container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999; 
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #hamburger {
        display: inline;
        position: absolute;
        top: 1rem;
        right: 1rem;
        border: none;
        background: rgb(0, 0, 0);
        padding: 5px 10px;
        color: rgb(255, 255, 255);
        font-size: 2rem;
        cursor: pointer;
        z-index: 1000;
        mix-blend-mode: difference;
        border-radius: 5px;
    }

    #nav-link-container {
        display: none;
        position: absolute;
        right: 0;
        background-color: black;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    #nav-link-container.active {
        display: flex;
    }


    /* Home styling */
    #hero-section .title-text-container{
    position: absolute;
    
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;
    top: 40%;
}
}

